
AIRFLOW_DB_USER=
AIRFLOW_DB_PASSWORD=
AIRFLOW_DB_NAME=

PIPELINE_DB_USER=
PIPELINE_DB_PASSWORD=
PIPELINE_DB_NAME=
PIPELINE_DB_PORT=

RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=

AIRFLOW_ADMIN_USER=
AIRFLOW_FERNET_KEY=

GRAFANA_DB_USER=
GRAFANA_DB_PASSWORD=

API_URL=

AIRFLOW_UID=
AIRFLOW_GID=

DB_CONN_STRING=